@model IEnumerable<DataAccess.PRODUKTI>

@{
    ViewBag.Title = "Lista e produkteve";

}
@{Html.RenderPartial("_Alerts", (object)ViewBag.AlertModel);}

<div class="row margin-bottom-10">
    <div class="col-md-3">
        <a href="@Url.Action("Create","PRODUKTI")" class="btn btn-primary btn-sm">
            Regjistro
        </a>
    </div>
</div>
<div class="box box-primary">
    <div class="box-body">
        <table class="table table-hover table-responsive datatablessearchable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Emertimi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kodi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sasia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CmimiBaze)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TVSH)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Zbritja)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdhuesiID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Statusi)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string status = "Aktiv";
                    if (item.Statusi == (int)BusinessLogic.Helpers.Enums.ProduktiStatus.Draft)
                    {
                        status = "Draft";
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emertimi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kodi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sasia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CmimiBaze)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TVSH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zbritja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRODHUESI.Prodhuesi1)
                        </td>
                        <td>
                           @status
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","PRODUKTI",new { id= item.ID })" style="float:right;padding-right:5px;" title="Modifiko produktin"><i class="fa fa-edit" style="font-size:1.4em"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}